
.menu {
    padding-right:40px;
    padding-left:40px;
    scroll-behavior: 'smooth';
    width: 1200px;
    white-space: nowrap;
    overflow: auto;
    margin-left: 3%;
}



/* Desktop */
@media (min-width: 1025px) {
    /* .showArrows {
        display: none;
    } */

}


/* Mobile */
@media (max-width: 800px) {


    .filterContainer{
        width: 500px;
    }
    
}


.menu::-webkit-scrollbar {
    display: none;
}