.menu {
    scroll-behavior: 'smooth';
    width: 1000px;
    white-space: nowrap;
    overflow: scroll;
    margin-left: 3%;
    transition: scroll 0.3s ease-in-out;
    /* Add a smooth scroll transition */
    scroll-behavior: smooth;
    /* Enable smooth scrolling */
}



.menu::-webkit-scrollbar {
    display: none;
}


/* Small screens */
@media screen and (max-width: 768px) {
    .flex.flex-row {
        flex-direction: column;
    }

    .menu {

        width: 340px;

    }
}


/* Medium screens */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .flex.flex-row {
        flex-direction: row;
    }
}